POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres


PGADMIN_DEFAULT_EMAIL=dev@enegix.co
PGADMIN_DEFAULT_PASSWORD=dev

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret

REDIS_URL=redis://localhost:6379/0


MAGEX_API_URL=https://devapi.point24h.com/api
MAGEX_EMAIL=asdas@asdsad.sadas
MAGEX_PASSWORD=asdsadsad
